@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hanuman:wght@100;300;400;700;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.main-products{
    width: 100%;
    .container-1{
        position: relative;
        height: 692px;
        color: #fff;
      
            .iphone-16-pro{
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin-top: 55px;
                h1{
                    font-size: 51.41px;
                    line-height: 60px;
                    font-weight: 600;
                    font-family: "Inter", sans-serif;
                }
                p{
                    font-family: "Inter", sans-serif;
                    font-weight: 400;
                    line-height: 32px;
                    font-size: 24.28px;
                }
                .buttons{
                    display: flex;
                    gap: 20px;
                    padding: 20px;
                    .learn-more{
                        width: 130.72px;
                        height: 44px;
                        border-radius: 20px;
                        background-color: #0071E3;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .buy{
                        width: 73.2px;
                        height: 44px;
                        border-radius: 20px;
                        border: 1px solid #0071E3;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #0071E3;
                    }
                }
            }
        img{
            width: 100%;
            height: 692px;
            object-fit: cover;
      
        }
    }
    .container-2{
        position: relative;
        height: 692px;
        color: #fff;
        margin-top: 10px;
            .iphone-16-pro{
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin-top: 55px;
                h1{
                    font-size: 51.41px;
                    line-height: 60px;
                    font-weight: 600;
                    font-family: "Inter", sans-serif;
                }
                p{
                    font-family: "Inter", sans-serif;
                    font-weight: 400;
                    line-height: 32px;
                    font-size: 24.28px;
                }
                .buttons{
                    display: flex;
                    gap: 20px;
                    padding: 20px;
                    .learn-more{
                        width: 130.72px;
                        height: 44px;
                        border-radius: 20px;
                        background-color: white;
                        color: #333;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .buy{
                        width: 73.2px;
                        height: 44px;
                        border-radius: 20px;
                        border: 1px solid #ffffff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #ffffff;
                    }
                }
            }
        img{
            width: 100%;
            height: 692px;
            object-fit: cover;
      
        }
    }
    .container-3{
        position: relative;
        height: 692px;
        color: #000000;
        margin-top: 10px;
            .iphone-16-pro{
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin-top: 455px;
                h1{
                    font-size: 51.41px;
                    line-height: 60px;
                    font-weight: 600;
                    font-family: "Inter", sans-serif;
                }
                p{
                    font-family: "Inter", sans-serif;
                    font-weight: 400;
                    line-height: 32px;
                    font-size: 24.28px;
                    color: #1D1D1F;
                }
                .buttons{
                    display: flex;
                    gap: 20px;
                    padding: 20px;
                    .learn-more{
                        width: 130.72px;
                        height: 44px;
                        border-radius: 20px;
                        background-color: #0071E3;
                        color: #fff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        img{
            width: 100%;
            height: 692px;
            object-fit: cover;
      
        }
    }
}
// Page-2 section-3
.page-2-scroll-x{
    display: flex;
    justify-content: center;
    .container{
        display: grid;
        grid-template-columns: repeat(11,1fr);
        justify-items: center;
        gap: 10px;
        width: 1920px;
        .item{
            width: 136px;
            height: 148px;
            h1{
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
                text-align: center;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
            }
        }
    }
}

.page-2-scroll-x-1{
    width: 100%;
    height: 620px;
    margin-top: 140px;
    .left{
        padding: 20px;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 120px;
        height: 100px;
        #logo{
            background-image:  linear-gradient(90.43deg, #0090F7 0%, #BA62FC 33.33%, #F2416B 66.67%, #F55600 100%);
            color: transparent;
            background-clip: text;
            font-weight: 700;
            font-size: 43.88px;
            line-height: 52.01px;
            padding-right: 10px;
        }
        #simple-text{
            font-weight: 700;
            font-size: 43.88px;
            line-height: 52.01px;   
            color: rgba(110, 110, 115, 1);
        }
    }
    .features {
        height: 526px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6,1fr);
        gap: 10px;
        padding-left: 120px;
        overflow-x: scroll;
      
        .items{
            width: 480px;
            height: 500px;
            border-radius: 18px;
            background-color: #0071E3;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                border-radius: 18px;
                box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
            }
        }
        .item-2{
            position: relative;
            .absolute-items{
                position: absolute;
                top: 55px;
                left: 30px;

                h1{
                    font-size: 25.59px;
                    line-height: 32px;
                    font-weight: 700;
                    font-family:Arial, Helvetica, sans-serif;
                    padding-bottom: 10px;
                }
                p{
                    font-size: 17px;
                    font-weight: 400;
                    line-height: 21px;
                    font-family:Arial, Helvetica, sans-serif;
                }
            }
        }
        .item-1{
            position: relative;
            .absolute-items{
                position: absolute;
                top: 30px;
                left: 30px;

                h2{
                    color: rgba(182, 68, 0, 1);
                    font-family:Arial, Helvetica, sans-serif;
                    font-size: 11.81px;
                    font-weight: 700;
                    line-height: 16px;
                    padding-bottom: 10px;
                }
                h1{
                    font-size: 25.59px;
                    line-height: 32px;
                    font-weight: 700;
                    font-family:Arial, Helvetica, sans-serif;
                    padding-bottom: 10px;
                }
                p{
                    font-size: 17px;
                    font-weight: 400;
                    line-height: 21px;
                    font-family:Arial, Helvetica, sans-serif;
                }
            }
        }
        .item-3{
            position: relative;
            .absolute-items{
                position: absolute;
                top: 30px;
                left: 30px;

                h2{
                    color: rgba(182, 68, 0, 1);
                    font-family:Arial, Helvetica, sans-serif;
                    font-size: 11.81px;
                    font-weight: 700;
                    line-height: 16px;
                    padding-bottom: 10px;
                }
                h1{
                    font-size: 25.59px;
                    line-height: 32px;
                    font-weight: 700;
                    font-family:Arial, Helvetica, sans-serif;
                    padding-bottom: 10px;
                }
                p{
                    font-size: 17px;
                    font-weight: 400;
                    line-height: 21px;
                    font-family:Arial, Helvetica, sans-serif;
                }
            }
        }
        .item-4{
            position: relative;
            .absolute-items{
                position: absolute;
                top: 30px;
                left: 30px;

                h2{
                    color: rgba(182, 68, 0, 1);
                    font-family:Arial, Helvetica, sans-serif;
                    font-size: 11.81px;
                    font-weight: 700;
                    line-height: 16px;
                    padding-bottom: 10px;
                }
                h1{
                    font-size: 25.59px;
                    line-height: 32px;
                    font-weight: 700;
                    font-family:Arial, Helvetica, sans-serif;
                    padding-bottom: 10px;
                }
                p{
                    font-size: 17px;
                    font-weight: 400;
                    line-height: 21px;
                    font-family:Arial, Helvetica, sans-serif;
                }
            }
        }
        .item-5{
            position: relative;
            .absolute-items{
                position: absolute;
                top: 30px;
                left: 30px;

                h2{
                    color: rgba(182, 68, 0, 1);
                    font-family:Arial, Helvetica, sans-serif;
                    font-size: 11.81px;
                    font-weight: 700;
                    line-height: 16px;
                    padding-bottom: 10px;
                }
                h1{
                    font-size: 25.59px;
                    line-height: 32px;
                    font-weight: 700;
                    font-family:Arial, Helvetica, sans-serif;
                    padding-bottom: 10px;
                }
                p{
                    font-size: 17px;
                    font-weight: 400;
                    line-height: 21px;
                    font-family:Arial, Helvetica, sans-serif;
                }
            }
        }
        .item-6{
            position: relative;
            .absolute-items{
                position: absolute;
                top: 30px;
                left: 30px;

                h2{
                    color: rgba(182, 68, 0, 1);
                    font-family:Arial, Helvetica, sans-serif;
                    font-size: 11.81px;
                    font-weight: 700;
                    line-height: 16px;
                    padding-bottom: 10px;
                }
                h1{
                    font-size: 25.59px;
                    line-height: 32px;
                    font-weight: 700;
                    font-family:Arial, Helvetica, sans-serif;
                    padding-bottom: 10px;
                }
                p{
                    font-size: 17px;
                    font-weight: 400;
                    line-height: 21px;
                    font-family:Arial, Helvetica, sans-serif;
                }
            }
        }
    }
}
.page-2-scroll-x-2{
    width: 100%;
    height: 620px;
    margin-top: 80px;

    .left{
        padding: 20px;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 120px;
        height: 100px;

        #logo{
            background-image:  linear-gradient(90.43deg, #0090F7 0%, #BA62FC 33.33%, #F2416B 66.67%, #F55600 100%);
            color: transparent;
            background-clip: text;
            font-weight: 700;
            font-size: 43.88px;
            line-height: 52.01px;
            padding-right: 10px;
        }
        #simple-text{
            font-weight: 700;
            font-size: 43.88px;
            line-height: 52.01px;   
            color: rgba(110, 110, 115, 1);
        }
    }
    .features {
        height: 526px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6,1fr);
        gap: 3px;
        padding-left: 120px;
        overflow-x: scroll;
        .item-1{
            position: relative;
            .absolute-items{
                position: absolute;
                top: 54px;
                left: 30px;
                width: 179.2px;
                h1{
        font-size: 25.48px;
        font-weight: 700;
        line-height: 32px;
        color: rgba(29, 29, 31, 1);
        font-family:Arial, Helvetica, sans-serif;
                }
            }
        }
        .item-2{
            position: relative;
            .container{
                margin-top: 61px;
                img{
                    display: flex;
                    justify-self: center;
    
                }
                .absolute-items{
                    position: absolute;
                    justify-content: center; 
                    width: 100%;
                    .bottom-text{
                        padding-left: 30px;
                        h2{
                            color: rgba(182, 68, 0, 1);
                            font-family:Arial, Helvetica, sans-serif;
                            font-size: 12px;
                            font-weight: 700;
                            line-height: 16px;
                            padding-bottom: 2px;
                        }
                        h1{
                            font-size: 17px;
                            line-height: 32px;
                            font-weight: 700;
                            font-family:Arial, Helvetica, sans-serif;
                            padding-bottom: 30px;
                        }
                        p{
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 21px;
                            font-family:Arial, Helvetica, sans-serif;
                            padding-top: 20px;
                        }
                    }
                    .color-selections{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 58px;
                    gap: 6px;  
                        img{
                            width: 12px;
                            height: 12px;
                        }
                    }
                }
            }
        }
        .item-3{
            position: relative;
            img{
                display: flex;
                    justify-self: center;
                    margin-top: 71px;
            }
            .absolute-items{
                position: absolute;
                padding-left: 30px;
                margin-top:50px;
                h2{
                    color: rgba(182, 68, 0, 1);
                    font-family:Arial, Helvetica, sans-serif;
                    font-size: 12px;
                    font-weight: 700;
                    line-height: 16px;
                    padding-bottom: 2px;
                }
                h1{
                    font-size: 17px;
                    line-height: 32px;
                    font-weight: 700;
                    font-family:Arial, Helvetica, sans-serif;
                    padding-bottom: 30px;
                }
                p{
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 21px;
                    font-family:Arial, Helvetica, sans-serif;
                    padding-top: 20px;
                }
            }
        }
        .item-4{
            position: relative;
            img{
                display: flex;
                    justify-self: center;
                    margin-top: 71px;
            }
            .absolute-items{
                position: absolute;
                padding-left: 30px;
                margin-top:50px;
                h2{
                    color: rgba(182, 68, 0, 1);
                    font-family:Arial, Helvetica, sans-serif;
                    font-size: 12px;
                    font-weight: 700;
                    line-height: 16px;
                    padding-bottom: 2px;
                }
                h1{
                    font-size: 17px;
                    line-height: 22px ;
                    font-weight: 700;
                    font-family:Arial, Helvetica, sans-serif;
                    padding-bottom: 30px;
                }
                p{
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 21px;
                    font-family:Arial, Helvetica, sans-serif;
                    padding-top: 10px;
                }
            }
        }
        .item-5{
            position: relative;
            img{
                display: flex;
                    justify-self: center;
                    margin-top: 71px;
            }
            .absolute-items{
                position: absolute;
                padding-left: 30px;
                margin-top:50px;
                h2{
                    color: rgba(182, 68, 0, 1);
                    font-family:Arial, Helvetica, sans-serif;
                    font-size: 12px;
                    font-weight: 700;
                    line-height: 16px;
                    padding-bottom: 2px;
                }
                h1{
                    font-size: 17px;
                    line-height: 32px;
                    font-weight: 700;
                    font-family:Arial, Helvetica, sans-serif;
                    padding-bottom: 30px;
                }
                p{
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 21px;
                    font-family:Arial, Helvetica, sans-serif;
                    padding-top: 20px;
                }
            }
        }
        .item-6{
            position: relative;
            img{
                display: flex;
                    justify-self: center;
                    margin-top: 71px;
            }
            .absolute-items{
                position: absolute;
                padding-left: 30px;
                margin-top:50px;
                h2{
                    color: rgba(182, 68, 0, 1);
                    font-family:Arial, Helvetica, sans-serif;
                    font-size: 12px;
                    font-weight: 700;
                    line-height: 16px;
                    padding-bottom: 2px;
                }
                h1{
                    font-size: 17px;
                    line-height: 32px;
                    font-weight: 700;
                    font-family:Arial, Helvetica, sans-serif;
                    padding-bottom: 30px;
                }
                p{
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 21px;
                    font-family:Arial, Helvetica, sans-serif;
                    padding-top: 20px;
                }
            }
        }
        .items{
            width: 400px;
            height: 500px;
            border-radius: 18px;
        
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                border-radius: 18px;
                box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
            }
        }
        .items-a{
            width: 313px;
            height: 500px;
            border-radius: 18px;
            box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
            margin-left: 30px;
            img{
                width: 230px;
                height: 230px;
                border-radius: 18px;
               
            }
        }
    }
}

.page-2-scroll-x-3{
    width: 100%;
    height: 620px;
    margin-top: 80px;

    .left{
        padding: 20px;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 120px;
        height: 100px;

        #logo{
            background-image:  linear-gradient(90.43deg, #0090F7 0%, #BA62FC 33.33%, #F2416B 66.67%, #F55600 100%);
            color: transparent;
            background-clip: text;
            font-weight: 700;
            font-size: 43.88px;
            line-height: 52.01px;
            padding-right: 10px;
        }
        #simple-text{
            font-weight: 700;
            font-size: 43.88px;
            line-height: 52.01px;   
            color: rgba(110, 110, 115, 1);
        }
    }
    .features {
        height: 526px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6,1fr);
        gap: 1px;
        padding-left: 120px;
        overflow-x: scroll;
        .item-1{
            position: relative;
            .absolute-items{
                position: absolute;
                top: 54px;
                left: 30px;
                width: 179.2px;
                h1{
        font-size: 25.48px;
        font-weight: 700;
        line-height: 32px;
        color: rgba(29, 29, 31, 1);
        font-family:Arial, Helvetica, sans-serif;
                }
            }
        }
        .item-2{
            position: relative;
            .container{
                margin-top: 61px;
                img{
                    display: flex;
                    justify-self: center;
    
                }
                .absolute-items{
                    position: absolute;
                    justify-content: center; 
                    width: 100%;
                    .bottom-text{
                        padding-left: 30px;
                        h2{
                            color: rgba(182, 68, 0, 1);
                            font-family:Arial, Helvetica, sans-serif;
                            font-size: 12px;
                            font-weight: 700;
                            line-height: 16px;
                            padding-bottom: 2px;
                        }
                        h1{
                            font-size: 17px;
                            line-height: 22px;
                            font-weight: 700;
                            font-family:Arial, Helvetica, sans-serif;
                            padding-bottom: 30px;
                        }
                        p{
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 1px;
                            font-family:Arial, Helvetica, sans-serif;
                            padding-top: 20px;
                        }
                    }
                    .color-selections{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 58px;
                    gap: 6px;  
                        img{
                            width: 12px;
                            height: 12px;
                        }
                    }
                }
            }
        }
        .item-3{
            position: relative;
            .container{
                margin-top: 61px;
                img{
                    display: flex;
                    justify-self: center;
    
                }
                .absolute-items{
                    position: absolute;
                    justify-content: center; 
                    width: 100%;
                    .bottom-text{
                        padding-left: 30px; 
                        h1{
                            font-size: 17px;
                            line-height: 32px;
                            font-weight: 700;
                            font-family:Arial, Helvetica, sans-serif;
                            padding-bottom: 30px;
                            margin-top: 14px;
                        }
                        p{
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 21px;
                            font-family:Arial, Helvetica, sans-serif;
                            padding-top: 20px;
                        }
                    }
                    .color-selections{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 58px;
                    gap: 6px;  
                        img{
                            width: 12px;
                            height: 12px;
                        }
                    }
                }
            }
        }
        .item-4{
            position: relative;
            .container{
                margin-top: 61px;
                img{
                    display: flex;
                    justify-self: center;
    
                }
                .absolute-items{
                    position: absolute;
                    justify-content: center; 
                    width: 100%;
                    .bottom-text{
                        padding-left: 30px;
                        h1{
                            font-size: 17px;
                            line-height: 22px;
                            font-weight: 700;
                            font-family:Arial, Helvetica, sans-serif;
                            padding-bottom: 30px;
                            margin-top: 14px;
                        }
                        p{
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 21px;
                            font-family:Arial, Helvetica, sans-serif;
                            padding-top: 20px;
                        }
                    }
                    .color-selections{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 58px;
                    gap: 6px;  
                        img{
                            width: 12px;
                            height: 12px;
                        }
                    }
                }
            }
        }
        .item-5{
            position: relative;
            .container{
                margin-top: 61px;
                img{
                    display: flex;
                    justify-self: center;
    
                }
                .absolute-items{
                    position: absolute;
                    justify-content: center; 
                    width: 100%;
                    .bottom-text{
                        padding-left: 30px;
                        h2{
                            color: rgba(182, 68, 0, 1);
                            font-family:Arial, Helvetica, sans-serif;
                            font-size: 12px;
                            font-weight: 700;
                            line-height: 16px;
                            padding-bottom: 2px;
                        }
                        h1{
                            font-size: 17px;
                            line-height: 32px;
                            font-weight: 700;
                            font-family:Arial, Helvetica, sans-serif;
                            padding-bottom: 30px;
                        }
                        p{
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 21px;
                            font-family:Arial, Helvetica, sans-serif;
                            padding-top: 20px;
                        }
                    }
                    .color-selections{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 58px;
                    gap: 6px;  
                        img{
                            width: 12px;
                            height: 12px;
                        }
                    }
                }
            }
        }
        .item-6{
            position: relative;
            .container{
                margin-top: 61px;
                img{
                    display: flex;
                    justify-self: center;
    
                }
                .absolute-items{
                    position: absolute;
                    justify-content: center; 
                    width: 100%;
                    .bottom-text{
                        padding-left: 30px;
                        h2{
                            color: rgba(182, 68, 0, 1);
                            font-family:Arial, Helvetica, sans-serif;
                            font-size: 12px;
                            font-weight: 700;
                            line-height: 16px;
                            padding-bottom: 2px;
                        }
                        h1{
                            font-size: 17px;
                            line-height: 32px;
                            font-weight: 700;
                            font-family:Arial, Helvetica, sans-serif;
                            padding-bottom: 30px;
                        }
                        p{
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 21px;
                            font-family:Arial, Helvetica, sans-serif;
                            padding-top: 20px;
                        }
                    }
                    .color-selections{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 58px;
                    gap: 6px;  
                        img{
                            width: 12px;
                            height: 12px;
                        }
                    }
                }
            }
        }
        .items{
            width: 400px;
            height: 500px;
            border-radius: 18px;
        
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                border-radius: 18px;
                box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
            }
        }
        .items-a{
            width: 313px;
            height: 500px;
            border-radius: 18px;
            box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
            margin-left: 30px;
            img{
                width: 230px;
                height: 230px;
                border-radius: 18px;
               
            }
        }
    }
}

.page-2-scroll-x-4{
    width: 100%;
    height: 526px;
    margin-top: 80px;
    .left{
        padding: 20px;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 120px;
        height: 100px;
        #logo{
            background-image:  linear-gradient(90.43deg, #0090F7 0%, #BA62FC 33.33%, #F2416B 66.67%, #F55600 100%);
            color: transparent;
            background-clip: text;
            font-weight: 700;
            font-size: 43.88px;
            line-height: 52.01px;
            padding-right: 10px;
        }
        #simple-text{
            font-weight: 700;
            font-size: 43.88px;
            line-height: 52.01px;   
            color: rgba(110, 110, 115, 1);
        }
    }
    .features {
        display: flex;
        gap: 20px;
        padding-left: 120px;
        padding-top: 10px;
        .item-1{
            width: 480px;
            height: 500px;
            border-radius: 18px;
            box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
            position: relative;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                border-radius: 18px;
            }
            .absolute-text{
                position: absolute;
                top: 0;
                width: 287.75px;
                margin-left: 40px;
                margin-top: 40px;
                h1{
                    font-size: 25.81px;
                    line-height: 32px;
                    font-weight: 700;
                    word-spacing: 1px;
                }
            }
        }
        .item-2{
            display: grid;
            grid-template-columns: 313px 313px;
            gap: 20px;
            .items{
                width: 313px;
                height: 240px;
                border-radius: 18px;
                box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
                display: flex;
            }
            .item-a{
           display: flex;
            }
            .item-b{
             
            }
            .item-c{
               
            }
            .item-d{
              
            }
        }
        .item-3{
            width: 480px;
            height: 500px;      
            border-radius: 18px;
            box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
        }
        .item-4{
            width: 480px;
            height: 500px;
            border-radius: 18px;
            box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
        }
    }

}

.page-2-scroll-x-5{
    width: 100%;
    height: 526px;
    margin-top:120px;
    .left{
        padding: 20px;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 120px;
        height: 100px;
        #logo{
            background-image:  linear-gradient(90.43deg, #0090F7 0%, #BA62FC 33.33%, #F2416B 66.67%, #F55600 100%);
            color: transparent;
            background-clip: text;
            font-weight: 700;
            font-size: 43.88px;
            line-height: 52.01px;
            padding-right: 10px;
        }
        #simple-text{
            font-weight: 700;
            font-size: 43.88px;
            line-height: 52.01px;   
            color: rgba(110, 110, 115, 1);
        }
    }
    .features {
        height: 526px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6,1fr);
        gap: 10px;
        padding-left: 120px;    
        overflow-x: scroll;
        .items{
            width: 480px;
            height: 500px;
            border-radius: 18px;
            background-color: #fff;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                border-radius: 18px;
                box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
            }
        }
    }
}

.page-2-scroll-x-6{
    width: 100%;
    height: 526px;
    margin-top:120px;
    .left{
        padding: 20px;
        display: flex;
        flex-direction: column;
        padding-left: 120px;
        height: 100px;
        .top-1{
            display: flex;
        }
        #logo{
            background-image:  linear-gradient(90.43deg, #0090F7 0%, #BA62FC 33.33%, #F2416B 66.67%, #F55600 100%);
            color: transparent;
            background-clip: text;
            font-weight: 700;
            font-size: 43.88px;
            line-height: 52.01px;
            padding-right: 10px;
        }
        #simple-text{
            font-weight: 700;
            font-size: 43.88px;
            line-height: 52.01px;   
            color: rgba(110, 110, 115, 1);
        }
        #simple-text-1{
            font-weight: 700;
            font-size: 43.88px;
            line-height: 52.01px;   
            color: rgba(110, 110, 115, 1);
            
        }
    }
    .features {
        height: 526px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6,1fr);
        gap: 10px;
        padding-left: 120px;    
        overflow-x: scroll;
        margin-top: 90px;
        .items{
            width: 400px;
            height: 500px;
            border-radius: 18px;
            background-color: #fff;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                border-radius: 18px;
                box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
            }
        }
    }
}

footer{
    height: 250px;
    margin-top: 300px;
    align-content: center;
    .footer-container{
        width: 980px;
        height: 127px;
        margin-left: 120px;
        margin-bottom: 120px;
        display: grid;
        grid-template-rows: 34px 75px;
        .header{
        }
        .bottom{
            display: grid;
            grid-template-columns: 126.66px 139.42px 94.83px 115.73px;
            grid-template-rows: 34px;
         text-align: center;
         margin-top: 32px;
         align-items: center;
         gap: 10px;
            .link-1{
                border-radius: 980px;
                padding: 6px 0;
                border: 1px solid black;
            }
            .link-2{
                border-radius: 980px;
                padding: 6px 0;
                border: 1px solid black;
            }
            .link-3{
                border-radius: 980px;
                padding: 6px 0;
                border: 1px solid black;
            }
            .link-4{
                border-radius: 980px;
                padding: 6px 0;
                border: 1px solid black;
            }
        }
    }

}

