@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hanuman:wght@100;300;400;700;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.main-products{
    width: 100%;
    .container-1{
        position: relative;
        height: 692px;
        color: #fff;
      
            .iphone-16-pro{
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin-top: 55px;
                h1{
                    font-size: 51.41px;
                    line-height: 60px;
                    font-weight: 600;
                    font-family: "Inter", sans-serif;
                }
                p{
                    font-family: "Inter", sans-serif;
                    font-weight: 400;
                    line-height: 32px;
                    font-size: 24.28px;
                }
                .buttons{
                    display: flex;
                    gap: 20px;
                    padding: 20px;
                    .learn-more{
                        width: 130.72px;
                        height: 44px;
                        border-radius: 20px;
                        background-color: #0071E3;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .buy{
                        width: 73.2px;
                        height: 44px;
                        border-radius: 20px;
                        border: 1px solid #0071E3;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #0071E3;
                    }
                }
            }
        img{
            width: 100%;
            height: 692px;
            object-fit: cover;
      
        }
    }
    .container-2{
        position: relative;
        height: 692px;
        color: #fff;
        margin-top: 10px;
            .iphone-16-pro{
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin-top: 55px;
                h1{
                    font-size: 51.41px;
                    line-height: 60px;
                    font-weight: 600;
                    font-family: "Inter", sans-serif;
                }
                p{
                    font-family: "Inter", sans-serif;
                    font-weight: 400;
                    line-height: 32px;
                    font-size: 24.28px;
                }
                .buttons{
                    display: flex;
                    gap: 20px;
                    padding: 20px;
                    .learn-more{
                        width: 130.72px;
                        height: 44px;
                        border-radius: 20px;
                        background-color: white;
                        color: #333;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .buy{
                        width: 73.2px;
                        height: 44px;
                        border-radius: 20px;
                        border: 1px solid #ffffff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #ffffff;
                    }
                }
            }
        img{
            width: 100%;
            height: 692px;
            object-fit: cover;
      
        }
    }
    .container-3{
        position: relative;
        height: 692px;
        color: #000000;
        margin-top: 10px;
            .iphone-16-pro{
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin-top: 455px;
                h1{
                    font-size: 51.41px;
                    line-height: 60px;
                    font-weight: 600;
                    font-family: "Inter", sans-serif;
                }
                p{
                    font-family: "Inter", sans-serif;
                    font-weight: 400;
                    line-height: 32px;
                    font-size: 24.28px;
                    color: #1D1D1F;
                }
                .buttons{
                    display: flex;
                    gap: 20px;
                    padding: 20px;
                    .learn-more{
                        width: 130.72px;
                        height: 44px;
                        border-radius: 20px;
                        background-color: #0071E3;
                        color: #fff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        img{
            width: 100%;
            height: 692px;
            object-fit: cover;
      
        }
    }
}
// Page-2 section-3
.page-2-scroll-x{
    display: flex;
    justify-content: center;
    .container{
        display: grid;
        grid-template-columns: repeat(11,1fr);
        justify-items: center;
        gap: 10px;
        width: 1920px;
        .item{
            width: 136px;
            height: 148px;
            h1{
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
                text-align: center;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
            }
        }
    }
}

.page-2-scroll-x-1{
    width: 100%;
    height: 620px;
    margin-top: 140px;
    .left{
        padding: 20px;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 120px;
        height: 100px;
        #logo{
            background-image:  linear-gradient(90.43deg, #0090F7 0%, #BA62FC 33.33%, #F2416B 66.67%, #F55600 100%);
            color: transparent;
            background-clip: text;
            font-weight: 700;
            font-size: 43.88px;
            line-height: 52.01px;
            padding-right: 10px;
        }
        #simple-text{
            font-weight: 700;
            font-size: 43.88px;
            line-height: 52.01px;   
            color: rgba(110, 110, 115, 1);
        }
    }
    .features {
        height: 526px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6,1fr);
        gap: 10px;
        padding-left: 120px;
        overflow-x: scroll;
        .items{
            width: 480px;
            height: 500px;
            border-radius: 18px;
            background-color: #0071E3;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                border-radius: 18px;
                box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
            }
        }
    }
}
.page-2-scroll-x-2{
    width: 100%;
    height: 620px;
    margin-top: 80px;

    .left{
        padding: 20px;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 120px;
        height: 100px;

        #logo{
            background-image:  linear-gradient(90.43deg, #0090F7 0%, #BA62FC 33.33%, #F2416B 66.67%, #F55600 100%);
            color: transparent;
            background-clip: text;
            font-weight: 700;
            font-size: 43.88px;
            line-height: 52.01px;
            padding-right: 10px;
        }
        #simple-text{
            font-weight: 700;
            font-size: 43.88px;
            line-height: 52.01px;   
            color: rgba(110, 110, 115, 1);
        }
    }
    .features {
        height: 526px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6,1fr);
        gap: 10px;
        padding-left: 120px;
        overflow-x: scroll;
        .items{
            width: 400px;
            height: 500px;
            border-radius: 18px;
        
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                border-radius: 18px;
                box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
            }
        }
        .items-a{
            width: 313px;
            height: 500px;
            border-radius: 18px;
            box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
            img{
                width: 230px;
                height: 230px;
                border-radius: 18px;
               
            }
        }
    }
}

.page-2-scroll-x-3{
    width: 100%;
    height: 620px;
    margin-top: 80px;

    .left{
        padding: 20px;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 120px;
        height: 100px;

        #logo{
            background-image:  linear-gradient(90.43deg, #0090F7 0%, #BA62FC 33.33%, #F2416B 66.67%, #F55600 100%);
            color: transparent;
            background-clip: text;
            font-weight: 700;
            font-size: 43.88px;
            line-height: 52.01px;
            padding-right: 10px;
        }
        #simple-text{
            font-weight: 700;
            font-size: 43.88px;
            line-height: 52.01px;   
            color: rgba(110, 110, 115, 1);
        }
    }
    .features {
        height: 526px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6,1fr);
        gap: 10px;
        padding-left: 120px;
        overflow-x: scroll;
        .items{
            width: 400px;
            height: 500px;
            border-radius: 18px;
            box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                border-radius: 18px;
            
            }
        }
        .items-a{
            width: 313px;
            height: 500px;
            border-radius: 18px;
            background-color: rgba(255, 255, 255, 1);
            box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
            img{
                width: 230px;
                height: 230px;
                border-radius: 18px;
            }
        }
    }
}

.page-2-scroll-x-4{
    width: 100%;
    height: 526px;
    margin-top: 80px;
    .left{
        padding: 20px;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 120px;
        height: 100px;
        #logo{
            background-image:  linear-gradient(90.43deg, #0090F7 0%, #BA62FC 33.33%, #F2416B 66.67%, #F55600 100%);
            color: transparent;
            background-clip: text;
            font-weight: 700;
            font-size: 43.88px;
            line-height: 52.01px;
            padding-right: 10px;
        }
        #simple-text{
            font-weight: 700;
            font-size: 43.88px;
            line-height: 52.01px;   
            color: rgba(110, 110, 115, 1);
        }
    }
    .features {
        display: flex;
        gap: 20px;
        padding-left: 120px;
        padding-top: 10px;
        .item-1{
            width: 480px;
            height: 500px;
            border-radius: 18px;
            box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                border-radius: 18px;
            }
        }
        .item-2{
            display: grid;
            grid-template-columns: 313px 313px;
            gap: 20px;
            .items{
                width: 313px;
                height: 240px;
                border-radius: 18px;
                box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
            }
            .item-a{
           
            }
            .item-b{
            
            }
            .item-c{
              
            }
            .item-d{
            
            }
        }
        .item-3{
            width: 480px;
            height: 500px;      
            border-radius: 18px;
            box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
        }
        .item-4{
            width: 480px;
            height: 500px;
            border-radius: 18px;
            box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
        }
    }

}

.page-2-scroll-x-5{
    width: 100%;
    height: 526px;
    margin-top:120px;
    .left{
        padding: 20px;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 120px;
        height: 100px;
        #logo{
            background-image:  linear-gradient(90.43deg, #0090F7 0%, #BA62FC 33.33%, #F2416B 66.67%, #F55600 100%);
            color: transparent;
            background-clip: text;
            font-weight: 700;
            font-size: 43.88px;
            line-height: 52.01px;
            padding-right: 10px;
        }
        #simple-text{
            font-weight: 700;
            font-size: 43.88px;
            line-height: 52.01px;   
            color: rgba(110, 110, 115, 1);
        }
    }
    .features {
        height: 526px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6,1fr);
        gap: 10px;
        padding-left: 120px;    
        overflow-x: scroll;
        .items{
            width: 480px;
            height: 500px;
            border-radius: 18px;
            background-color: #fff;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                border-radius: 18px;
                box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
            }
        }
    }
}

.page-2-scroll-x-6{
    width: 100%;
    height: 526px;
    margin-top:120px;
    .left{
        padding: 20px;
        display: flex;
        flex-direction: column;
        padding-left: 120px;
        height: 100px;
        .top-1{
            display: flex;
        }
        #logo{
            background-image:  linear-gradient(90.43deg, #0090F7 0%, #BA62FC 33.33%, #F2416B 66.67%, #F55600 100%);
            color: transparent;
            background-clip: text;
            font-weight: 700;
            font-size: 43.88px;
            line-height: 52.01px;
            padding-right: 10px;
        }
        #simple-text{
            font-weight: 700;
            font-size: 43.88px;
            line-height: 52.01px;   
            color: rgba(110, 110, 115, 1);
        }
        #simple-text-1{
            font-weight: 700;
            font-size: 43.88px;
            line-height: 52.01px;   
            color: rgba(110, 110, 115, 1);
            
        }
    }
    .features {
        height: 526px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6,1fr);
        gap: 10px;
        padding-left: 120px;    
        overflow-x: scroll;
        margin-top: 90px;
        .items{
            width: 400px;
            height: 500px;
            border-radius: 18px;
            background-color: #fff;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                border-radius: 18px;
                box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
            }
        }
    }
}

footer{
    background-color: red;
    height: 250px;
    margin-top: 300px;
    align-content: center;
    .footer-container{
        width: 980px;
        height: 127px;
        background-color: greenyellow;
    }
}

